
:root{
  --medida-traslacion:400px;
  --1paleta-First-color: #026913;
  --1paleta-Second-color: #1eba0a;
  --1paleta-Tercer-color: #399a88;
  --Text-inportant-color: #66b162;
  --2paleta-Second-color: #022a69;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.FirstText {
  color: var(--1paleta-Second-color);
  font-size: 150%;
  font-style: oblique;
  font-variant-caps: all-petite-caps;

}

.SecondText {
  color: var(--1paleta-Tercer-color);
  font-size: 150%;
  font-style: oblique;
  font-variant-caps: all-petite-caps;
}


.Rotador {
  position: relative;
  transition: 0.5s;
}

.page{
  width: 100%;
  height: 90%;
  position: absolute;
  margin: auto;
  background-color: #79797933;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 20px 0px #000;
}

.RotaX {
  transform: rotateY(-90deg) translateZ(var(--medida-traslacion));
  animation: forwards 2s alternate RotacionX;
}

.RotaY {
  transform: rotateY(-90deg) translateZ(var(--medida-traslacion));
  animation: forwards 2s alternate RotacionY;
}

.Rota {
  opacity: 100%;
  transform: rotateY(0deg) translateZ(var(--medida-traslacion));
  animation: forwards 2s alternate Rotacion;
}

.RotacionRegreso {
  animation: forwards 2s alternate RotacionXX;
}


@keyframes Rotacion {
  100% {
    transform: rotateY(90deg) translateZ(var(--medida-traslacion));
    opacity: 30%;
    display: none;
  }
}

@keyframes RotacionXX {
  100% {
    transform: rotateY(-90deg) translateZ(var(--medida-traslacion));
    opacity: 30%;
    display: none;
  }
}

@keyframes RotacionX {

  100% {
    transform: rotateY(0deg) translateZ(var(--medida-traslacion));
    opacity: 100%;
  }
}

@keyframes RotacionY {
  0% {
    transform: rotateY(90deg) translateZ(var(--medida-traslacion));
  }

  100% {
    transform: rotateY(0deg) translateZ(var(--medida-traslacion));
    opacity: 100%;
  }
}




.btn-secundario {
  margin-top: 10px;
  cursor: pointer;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 20px;
  transition: 0.3s;
  background-color: var(--2paleta-Second-color);
  background: rgb(2, 42, 105);
  background: radial-gradient(circle, rgba(2, 42, 105, 1) 42%, rgb(53, 206, 22) 100%);
  animation: 2s infinite linear alternate moveGradient;
  transition: 0.5s;
  background-size: 200% 200%;
}

.btn-secundario:hover {
  scale: 1.09;
  transform: translateY(-10px);
  box-shadow: 5px 5px 0px var(--1paleta-Second-color);
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 100% 100%;
  }
}


.group:hover .fondoProyect {
  transform: rotate3d(1, 0, 0, 45deg);

}


.img-logo{
  width: 90%;
  margin-top: 5%;
  border-radius: 20px;
  box-shadow: 10px 10px 0 var(--1paleta-Second-color);
  border: 1px solid var(--1paleta-First-color);
}


/* ! Estilos Formulario */


.ContenForm {
  background: rgb(2, 42, 105);
  background: radial-gradient(circle, rgba(2, 42, 105, 1) 42%, rgb(53, 206, 22) 100%);
  animation: 2s infinite linear alternate moveGradient;
  transition: 0.5s;
  background-size: 200% 200%;
  padding-bottom: 10px;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 100% 100%;
  }
}

.ContenForm input {
  background-color: #ffffff;
  width: 80%;
  border-radius: 10px;
  border: 0;
  outline: none;
  height: 30px;
  margin: 5px 0px;
  padding: 5px 15px 5px 50px;
  box-sizing: border-box;
}

.ContenForm textarea {
  width: 80%;
  border-radius: 5px;
  border: 2px rgba(0, 0, 0, 0.726) dashed;
  min-height: 50px;
  max-height: 150px;
  min-width: 80%;
  max-width: 80%;
  outline: none;
}

.ContenForm label {
  width: 10%;
  display: block;
  margin-left: 20%;
}

.textForm {
  background-color: #399a88;
  padding: 15px;
  border-radius: 0px 0px 50px 50px;
}

.ContenInputsForm {
  position: relative;
}

.iconForm {
  position: absolute;
  color: var(--1paleta-Tercer-color);
  transform: translate(10px, 8px);
}



.contenToasts{
  background-color: #b0ffa6;
  width: 230px;
  height: 60px;
  border-radius: 50px 0px 50px 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 150px;
  right: -250px;
  padding: 10px;
  color: #000;
  z-index: 50000;
  opacity: 0;
  animation: 1s 1  forwards notiFirts;
}


@keyframes notiFirts {
  50%{
    right: 0;
    top: 150px;
  }
  100%{
    opacity: 100;
    top: 0;
    right: 0;
  }
}
.rotate{
  animation: 0.5s infinite linear rotacion360;
}
@keyframes rotacion360 {
 
  100%{
    transform: rotate(360deg);
  }
}

.btn {
  cursor: pointer;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  transition: 0.3s;
  background-color: var(--1paleta-Second-color);
}

.btn:hover {
  background-color: var(--1paleta-First-color);
  scale: 1.09;
  transform: translateY(-10px);
  box-shadow: 5px 5px 0px var(--1paleta-Second-color);
}


.box-conten-gallery{
  /* background-color: #022a69; */
  width: 100%;
  height: 90%;
  overflow-y: scroll !important;
}
.ContenGallery{
  z-index: 800;
  background-color: #cdcdcd;
  position: absolute;
  width: 95%;
  height:85%;
  right: 0;
  left: 0;
  bottom: -100%;
  margin: auto;
  overflow-y: scroll;
  transition: 0.5s;
}

.headerGallery{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 15px;
  border-bottom: 2px solid rgba(81, 81, 81, 0.256);
  position: sticky;
  top: 0;
  background-color: #1f2939;
  z-index: 21;
}

.ContenGallery div p{
 background-color: #022a6998;
 width: 90%;
 margin: 0 auto;
 margin-bottom: 20px;
 margin-top: 30px;
border-bottom: #000 solid 1px;
}

.slick-prev:before, .slick-next:before{
color: var(--2paleta-Second-color) !important;
}

.slider{
  width: 85%;
  height: 100%;
  margin: auto;
}
.slider div img{
  height: 130px;
  width: 100%;
  max-width: 200px;
  margin: 0px 5px;
  cursor: pointer;
}

.openSlide{
  right: 0;
  left: 0;
  bottom: 0;
}

.conten-picture{
  position: absolute;
  z-index: 20000;
  display:flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  transition: 0.5s;
  opacity: 0;
  animation: 0.3s 1 forwards linear openPicture;
}
@keyframes openPicture {
  100%{
    opacity: 100;
  }
}
.conten-picture img{
  width: 95%;
}

.btn-gallery{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 200022;
  margin: 20px 15px;
}

.boxContacMobile{
  margin: auto;
  /* background-color: #026913; */
}

.menuMobile{
  /* scale: 0.8; */
  background-color: #41526deb;
  position: absolute;
  width:250px;
  right: 0;
  height:250px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu-open-mobile{
  z-index: 1555444454;
  scale: 1.1;
}
.menu-close-mobile{
  z-index: -1;
  scale: 0.8;
}

.close-menu-mobile{
  border: 1px solid rgba(0, 0, 0, 0.571);
  border-radius: 50%;
  padding: 8px;
  background-color: #00000055;
}

.pantalla-carga{
  position: fixed;
  width: 100%;
  height: 110vh;
  background-color: #000000;
  z-index: 100000000000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoCarga{
  filter: drop-shadow(0px 0px 30px  #9eee3d);
  animation: 0.8s infinite linear alternate  logoOn;
  opacity: 100;
}

@keyframes logoOn {
  100%{
    filter: drop-shadow(0px 0px 10px  #9eee3d);
    opacity: 30%;
  }
}
.btn-close{
  color: rgb(251, 3, 3);
  width: 25px;
  cursor: pointer;
}
.overflow{
  overflow: hidden;
}